/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

  /*整体布局的css*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.logo{
	vertical-align: middle;
	text-align: center;
	height: 50px;
	margin: 20px;
}
#name{
	border: 1px solid #FF8F59;
}
#password{
	border: 1px solid #FF8F59;
}
#send {
	color: white !important;
	background-color: #FF8F59 !important;
}
.ui-btn {
	color: white !important;
	background-color: #FF8F59 !important;
}
#forget {
	float: right;
	color: #FF8F59;
	text-decoration: none;
	font-size: 14px;
}


